@model ViewModelRepo
@{
    List<desafio1_KriaTecnologia.Models.Linguagens> listLinguagens = new List<desafio1_KriaTecnologia.Models.Linguagens>();
    desafio1_KriaTecnologia.Models.DAO.LinguagensDAO dao = new desafio1_KriaTecnologia.Models.DAO.LinguagensDAO();
    listLinguagens = dao.SelectTodasLinguagens();

}
    <section class="main">
        <div class="formulario">
            <h1>Cadastre um repositório</h1>
            <form class="form" method="post" action="#">
                <div class="input_data">
                    <p>
                        <label for="nomeRepositorio">Nome do Repositório</label>
                        @Html.EditorFor(model => model.Repositorio.nomeRepositorio)
                        @Html.ValidationMessageFor(model => model.Repositorio.nomeRepositorio)

                    </p>
                    <p>
                        <label for="descricao">Descrição</label>
                        @Html.TextAreaFor(model => model.Repositorio.descricao)
                    <p>
                        <label for="nomeLinguagens">Linguagem</label>
                        <select @Html.EditorFor(model => model.Linguagens.nomeLinguagens)>
                            <option value="" disabled selected>Selecione uma linguagem</option>
                            @foreach (var itemlinguagem in listLinguagens)
                            {
                                <option value="@itemlinguagem.nomeLinguagens">@itemlinguagem.nomeLinguagens</option>
                            }
                        </select>
                        <a asp-controller="Linguagens" asp-action="Linguagem">Cadastrar nova linguagem</a>
                    </p>
                    <p>
                        <label for="data">Data</label>
                        @Html.EditorFor(model => model.Repositorio.dataUltimaAtt)
                        @Html.ValidationMessageFor(model => model.Repositorio.dataUltimaAtt)
                    </p>
                    <p>
                        <label for="dono">Dono do Repositório</label>
                        @Html.EditorFor(model => model.DonoRepositorio.nomeDonoRepositorio)
                        @Html.ValidationMessageFor(model => model.DonoRepositorio.nomeDonoRepositorio)
                    </p>
                </div>
                <div class="buttons">
                    <input type="reset" class="limpar" value="Limpar">
                    <input type="submit" value="Cadastrar">
                </div>
            </form>
        </div>
        <div class="imagem_bg"></div>
    </section>