@model ViewModelRepo
        <section class="card">
            <div class="header-imgs">
                <a class="favorito" asp-action="FavoritarRepositorioPeloID" asp-route-id="@Model.Repositorio.Id">Favoritar</a>
                 <a asp-action="Index"><img src="/img/seta.png" alt=""></a>
            </div>
            <div class="header-card-detalhes">
                <div class="titulo-card-detalhes">
                    <h1>@Html.DisplayFor(model => model.Repositorio.nomeRepositorio)</h1>
                    <p>por @Html.DisplayFor(model => model.DonoRepositorio.nomeDonoRepositorio)</p>
                </div>

            </div>
            <div class="conteudo">
                <div class="linguagem">
                    <div class="subtitulo">
                        <img src="img/linguagemIcone.png" alt="">
                        <h2>Linguagem</h2>
                    </div>
                    <p>desenvolvido em @Html.DisplayFor(model => model.Linguagens.nomeLinguagens)</p>
                </div>
                <div class="data">
                    <div class="subtitulo">
                        <img src="img/dataIcone.png" alt=""><h2>Última Atualização</h2>
                    </div>
                    <p>Realizada em @Html.DisplayFor(model => model.Repositorio.dataUltimaAtt)</p>
                </div>
                <div class="descricao">
                    <div class="subtitulo">
                        <img src="img/descricaoIcone.png" alt=""><h2>Descrição</h2>
                    </div>
                    <p>@Html.DisplayFor(model => model.Repositorio.descricao)</p>
                </div>
            </div>

            </div>
        </section>
