@model IEnumerable<ViewModelRepo>
    <main>
        <div class="center-main">
            <div class="topo-main">
                <h1>Favoritos</h1>
            </div>
            <div class="lista-repositorios">
                @if (Model != null)
                {
                    foreach (var repositorio in Model)
                    {
                        <div class="" content_list>
                            <a href="detalhes/@repositorio.Repositorio.Id" class="card-repositorio">
                                <div class="cabecalho">
                                    <div class="titulo-cabecalho">
                                        <h2>@repositorio.Repositorio.nomeRepositorio</h2>
                                        <p>@repositorio.Repositorio.dataUltimaAtt</p>
                                    </div>
                                    <div class="coluna-linguagem">
                                        <div class="circle"></div> <p>@repositorio.Linguagens.nomeLinguagens</p>
                                    </div>
                                </div>
                                <div class="content-card">
                                    <div class="corpo-repositorio">
                                        <p>@repositorio.Repositorio.descricao</p>
                                    </div>
                                    <p class="dono-repositorio">por @repositorio.DonoRepositorio.nomeDonoRepositorio</p>
                                </div>
                                <div class="footer-repositorio">
                                    <button>Ver mais</button>
                                </div>
                            </a>
                        </div>
                    }
                }
                @TempData["NullMessage"]
            </div>
        </div>
    </main>